@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';

.subtitle {
  margin-bottom: 36px;
  font-size: 1.2em;
}

.card:hover {
  transform: scale(1.02);
  transition: transform ease-in 0.3s;
}

.card {
  transition: transform ease-out 0.3s;
}

.columns {
  img {
    cursor: pointer;
  }
}

.images {
  img {
    cursor: pointer;
  }
}

.hero {
  .subtitle {
    line-height: 1.6em;
    margin-top: 1rem !important; 
    margin-bottom: 0;
  }
}

.card .media:not(:last-child) {
  margin-bottom: 0.5rem;
}

.media-content {
  .subtitle {
    margin-bottom: 0;
  }
}